body {
    background-color: black;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header{
    background-color:green;
    width: 400px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
    color: white;
    flex: 1;
  }
  .calc-wrapper {
    background-color: white;
    width: 400px;
    border-radius: 16px;
  }
  
  .row {
    display: flex;
  }

  .button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #5a5a5a;
    color: white;
    flex: 1;
  
    margin: 4px;
    border-radius: 25px;
  }
  .input-wrapper {
    height: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  
    padding: 16px;
  }
  
  .result {
    flex: 1;
    font-size: 24px;
  }
  
  .text {
    flex: 1;
    font-size: 18px;
  }
  